@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);
/*
	font-family: 'Sintony', sans-serif;
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Sintony', sans-serif;
	background-color: #FCFCED;
	color: black;

}
header {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}
header h1 {
	margin-bottom: 6px;
	font-size: 2.6em;
}
header a {
	font-size: 1.2em;
}
#social{
	padding: 0;
}
#social li {
	display: inline-block;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.container {
	margin: 50px auto;
	padding: 20px 2px;	
	max-width: 600px;
}
.project {
	padding-top: 20px;
}
p {
	text-align: justify;
}
a {
	color: #E46100;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #BA4F00;
}
footer {
	font-size: 0.8em;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
}
#error-404 {
	text-align: center;
	max-width: 500px;
	height: 500px;
	margin: 0px auto;
}
#error-404 h1 {
	font-size: 8em;
}
#error-404 p {
	text-align: center;
}
#version {
	color: black;
	float: right;
	font-size: 0.75em;
	padding-right: 5px;
	padding-bottom: 3px;
}