@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);
/*
	font-family: 'Sintony', sans-serif;
*/

body {
	font-family: 'Sintony', sans-serif;
}
header {
	padding-top: 50px;
	padding-bottom: 20px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	max-width: 600px;
}
.project {
	padding-top: 20px;
}
p {
	text-align: justify;
}
h1{
	text-align: center;
	margin-bottom: 20px;
	font-size: 2.5em;
}
footer {
	font-size: 0.8em;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
}
#error-404 {
	max-width: 500px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}
#error-404 h1 {
	font-size: 8em;
}
#error-404 p {
	text-align: center;
}
#version {
	color: #5E5E5E;
	float: right;
	font-size: 0.75em;
}