body {
  margin: 0; padding: 0;
  font-family: 'Sintony', sans-serif;
}

.container{
  max-width: 800px;
  margin: auto;
  padding: 0px 5px;
}

a {
  color: inherit;
  transition-duration: 0.4s;
}

a:hover {
  transition-duration: 0.4s;
  color: #050592;
}

main {
  background-color: #2240D4;
  text-align: center;
  background-position: 0% 92%;
  display: flex;
  height: 100vh
}

main p {
  margin: 5px 0px;
}

main > div {
  overflow: auto;
  color: white;
}

main > div > div {
  margin: 10% 0;
}

main a{
  color: inherit;
}

#social{
  padding: 0;
  margin: 25px 0 25px 0;
  text-align: center;
}

#social li {
  display: inline-block;
  text-decoration: none;
  margin: 0.5em;
}

.content {
  margin-bottom: 56px;
}

.projects {}
.project {
  margin-bottom: 25px;
}
.project h3 {
  margin: 10px 0;
}
.project p {
  margin: 10px 0;
}
.project .links a {
  margin-right: 2px;
}

a {
  color: #2C36F9
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(243, 242, 247);
  text-align: center;
}

.card {
  background-color: rgb(243, 242, 247);
}
