body {
  margin: 0; padding: 0;
  font-family: 'Sintony', sans-serif;
}

.container{ 
  max-width: 800px;
  margin: auto;
  padding: 0px 4px;
}

a {
  color: inherit; 
  transition-duration: 0.4s;
}

a:hover {
  transition-duration: 0.4s;
  color: #050592;
}

header {
  background-image: linear-gradient(to right, #DF881C, #2240D4);
  text-align: center;
  background-position: 0% 92%;  
}

header p {
  margin: 5px 0px;
}

header > div {
  overflow: auto;
  color: white;
}

header > div > div {
  margin: 10% 0;
}

header a{
  color: inherit;
}

#social{
  padding: 0;
  margin: 25px 0 25px 0;
  text-align: center;
}

#social li {
  display: inline-block;
  text-decoration: none;
  margin: 0 5% 0 5%;
}

a {
  color: #2C36F9
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;  
  background-color: rgb(243, 242, 247);
  text-align: center;
}